*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.containerone{
    display: flex;
}

.header{
    padding: 10px 30px 10px;
    height: 75px;
}

.containerone .header{
    display: flex;
    justify-content:space-between;
    flex:1;
}

.containerone .header .info{
    margin-top: 10px;
    display: inline-block;
    display: flex;
    
}

.info ul li{
    margin-top: 8px;
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    height: 30px;
}

.info ul li button{
    background: none;
    border: none;
    border: none;
    padding-top: 2px;
}

.info ul li button a{
    background: none;
    border: none;
    text-decoration: none;
    border: none;
    padding-top: 2px;
    color: black;
}

.info ul li button .vendor{
    background:#38B000;
    height: 4px;
    width: 10px;
}

.section-1{
    height:640px;
    background-color: #38B000;
    display: flex;
    width: 100%;
}

.containertwo{
    display: flex;
    padding: 10px;
}

.containertwo .section-2{
    width: 100%;
    margin-top: 40px;
}

.containertwo .content ul{
    justify-content: center;
    align-items: center;
    flex:1;
    display: inline-flex;
    list-style: none;
}

.containertwo .content ul li{
    width: 500px;
}

.containertwo .content{
    width: 100%;
    margin-top: 20px;
}

.containertwo .section-2 .heading {
   color: #38B000;
   font-size: 48px;
   font-family: 'M PLUS Rounded 1c', sans-serif;
   font-weight: bold;
}

.containertwo .content ul li{
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
}

.containertwo .content ul li .list-1{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.containertwo .content ul li .list-1 .imagee {
    text-align: center;
}

.containertwo .content ul li .list-1 .write {
    text-align: center;
}

.containertwo .content ul li .list-1 .write .write1{
    color: #38B000;
}

.containerthree{
    background-image: url("images/uriel-soberanes-jg4E9uUXxqU-unsplash 2.png");
    height: 500px;
    width: 100%;
}

.containerthree .heading1{
    padding: 20px;
    font-size: 40px;
    color: white;
    font-weight: bolder;
}

.containerthree .content2{
    width: 600px;
    font-size: larger;
    padding: 20px;
}

.containerthree .content2 .heading2{
    color: white;
}

.containerfour{
    width: 100%;
    margin-top: 10px;
    padding: 20px;
}

.containerfour .content3{
    width: 1400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #38B000;
    display: flex;
    border-radius: 10px;
}

.containerfour .content3 .left{
    width: 50%;
}

.containerfour .content3 .right{
    width: 1000px;
    display: flex;
    margin-top: 0px;
}

.containerfour .content3 .right .row1{
    display: flex;
    flex: 1;
    width: 400px;
    flex-direction: row;
}

.containerfour .content3 .right .row1 .left1{
    width: 400px;
}

.containerfour .content3 .right .row1 .right1{
    width: 400px;
}

.containerfour .content3 .right .row2{
    display: flex;
    flex: 1;
    width: 400px;
    flex-direction: row;
}

.containerfour .content3 .right .row2 .left2{
    width: 400px;
}

.containerfour .content3 .right .row2 .right2{
    width: 400px;
}

.containerfive{
    width: 100%;
    height: 400px;
    padding: 10px;
}

.containerfive .heading3{
    text-align: center;
    font-weight: bolder;
    padding-top: 20px;
    font-size: 45px;
    color: #38B000;
}

.containerfive .list-content{
    display: flex;
    padding: 30px;
    margin-left: 20%;
}

.containerfive .list-content .left{
    justify-content: center;
    flex:1;
    justify-content: center;
    align-items: center;
}

.containerfive .list-content .right{
    justify-content: center;
    flex:1;
    justify-content: center;
    align-items: center;
}

.containerfive .list-content .left ul li{
   padding: 5px;
   font-size: large;
}

.containerfive .list-content .right ul li{
    padding: 5px;
    font-size: large;
 }

.containersix{
    background-color: #2F313C;
}

.containersix .information {
    padding: 20px;
}

.containersix .information .heading{
    padding-top: 20px;
    color: #60A547;
    font-size: 37px;
    font-weight: bolder;
}

.containersix .information .bullet-points{
    color: white;
    padding: 20px;
    margin-left: 30px;
    margin-left: 20px;
}

.containersix .information .bullet-points ul li{
    padding: 10px;
}

.containersix .information2{
    background-color: #60A547;
    color: white;
} 
.containersix .information2 .table, td, th {
    border: 1px solid;
    background-color: #60A547;
    color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .carousel {
    margin-left: 15%;
    margin-right: 15%;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

.section-1 .carousell{
    position: absolute;
    width: 1600px;
}

.section-1 .carousell image{
    width: fit-content;
}